<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">

</head>

<body ng-app="TestApp" ng-controller="ctrl" class="app" ng-cloak>

    <div class="user" layout="row">

        <div>
            Salut, t'es qui ?
        </div>
        <input ng-model="user.name">

    </div>

    <div class="game">
        <div>
            Tu joues a quoi ?
            <select ng-model="gameId">
                <option value="1">StackIt</option>
                <option value="2">Skribbl Duel</option>

            </select>

        </div>

    </div>

    <div>Liste des rooms</div>

    <div class="button" ng-click="create()">Creer une nouvelle room</div>

    <div class="button" ng-click="list()">Refresh</div>


    <div class="room-list" layout="row">

        <div ng-repeat="r in rooms" class="room" layout="row">

            <div layout="column">

                <div>
                    {{r.id}}
                </div>

                <div ng-show="r.ruleset">

                    <div>
                        {{r.ruleset.gameName}}
                    </div>

                    <div>
                        {{r.ruleset.minRoomCapacity}} à {{r.ruleset.maxRoomCapacity}} joueurs
                    </div>

                </div>

                <div class="button" ng-click="join(r)">
                    Rejoindre !
                </div>

            </div>

            <div ng-show="r.users">
                {{r.users.length}} user(s) :
                <div ng-repeat=" u in r.users">
                    {{u.name}}
                </div>

            </div>
        </div>

    </div>


</body>

</html>